<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-primary fs-4 pt-4">Listar Categorias</h2>
      <mat-divider></mat-divider>
      <div class="pt-3 pb-2">
        <a mat-raised-button color="accent" routerLink="/categorias/inserir">Nova Categoria</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 pt-2" *ngFor="let categoria of (categorias$|async)">
      <mat-card appCardHover>
        <mat-card-header>
          <mat-card-title class="text-accent">{{categoria.nome}}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-actions align="end">
          <a routerLink="/categorias/editar/{{categoria.id}}" mat-button>EDITAR</a>
          <button (click)="openDialog(categoria)" mat-button>EXCLUIR</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
